<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
</head>
<body>
<p>&lt;!doctype html&gt;</p>

<p>&lt;html&gt;</p>

<p>&lt;head&gt;</p>

<p>&lt;title&gt; PHP Family Protection internal transfer &lt;/title&gt;</p>

<p>&lt;style&gt;</p>

<p>table, th td {</p>

<p>&nbsp; &nbsp; &nbsp;border: 1px solid black;</p>

<p>&nbsp; &nbsp; &nbsp;border-collapse: collapse;</p>

<p>&nbsp; &nbsp; &nbsp;text-align: center;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;}</p>

<p>&lt;/style&gt;</p>

<p>&lt;/head&gt;</p>

<p>&lt;body&gt;</p>

<p>&lt;h1&gt; Internal Transfer &lt;/h1&gt;</p>

<p>&lt;CDATAtable&gt;</p>

<p>&lt;tr&gt; &lt;th&gt;Agent &lt;/th&gt; &lt;th&gt;Transfer&lt;/th&gt;&lt;th&gt;Balance &lt;/th&gt;&lt;/tr&gt;</p>

<p>&lt;?php</p>

<p>$db = ???? mysqli(&quot;localhost&quot;, &quot;appuse1&quot;, &quot;Password&quot;, &quot;apptest&quot;);</p>

<p>if(!$db) {</p>

<p>&nbsp; &nbsp; &nbsp;echo &quot;sorry could not connect to Database Server.&quot;;</p>

<p>&nbsp; &nbsp; &nbsp;exit;</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>

<p></p>
</body>
</html>